{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "bracketSameLine": true
}
