@import url("@/assets/css/typography.css");
@import url("@/assets/css/backgrounds.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Castoro");
* {
  font-family: "Poppins" !important;
}
.s-none {
  display: none !important;
}
.s-vh-100 {
  min-height: 100vh !important;
}
.servcy-body {
  min-height: 90vh;
  padding-left: 5%;
  padding-right: 5%;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 959px) {
  .servcy-body {
    min-height: 92vh;
  }
}
