.servcy-wheat-shadow-left-bottom {
    box-shadow: -8px 8px 0px #d1bfae !important;
}

.servcy-wheat-shadow-right-bottom {
    box-shadow: 8px 8px 0px #d1bfae !important;
}

.servcy-wheat-shadow-left-top {
    box-shadow: -8px -8px 0px #d1bfae !important;
}

.servcy-wheat-shadow-right-top {
    box-shadow: 8px -8px 0px #d1bfae !important;
}
