@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Castoro");
@import url("https://fonts.googleapis.com/css2?family=Sofia");
.font-castoro {
  font-family: "Castoro" !important;
}
.font-poppins {
  font-family: "Poppins" !important;
}
.font-sofia {
  font-family: "Sofia", sans-serif !important;
}
.dark-text {
  color: #2b3232;
}
.font-weight-semibold {
  font-weight: 600;
}
.servcy-gradient-font {
  background-image: linear-gradient(
    90deg,
    rgba(167, 226, 165, 1),
    rgba(38, 84, 47, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.servcy-headline-font {
  font-size: 4rem !important;
  line-height: 4.5rem;
  letter-spacing: -0.0083333333em !important;
}
.servcy-sub-headline-font {
  font-size: 1.3rem !important;
  line-height: 1.5rem;
  letter-spacing: normal !important;
}
.s-title {
  font-size: 1.25rem !important;
  line-height: 2rem;
  letter-spacing: 0.0125em !important;
}
