.font-castoro {
    font-family: "Castoro" !important;
}

.font-poppins {
    font-family: "Poppins" !important;
}

.font-axiforma {
    font-family: "Axiforma" !important;
}

.servcy-text-xss {
    font-size: 0.625rem;
}